<div class="card weather-card" @click="click">
	<div class="card-body">
		<div class="city-name mb-3"><b>{{ weather.title }}</b></div>
		
		<div class="form-row align-items-center mb-2">
			<div class="col col-auto">
				<img v-bind:src="icon(showWeather)" class="weather-icon">
			</div>
			<div class="col">{{ showWeather.weather_state_name }}</div>
		</div>
		
		<hr>
		<div class="small"><b>Temp:</b> {{ Math.round(showWeather.the_temp) }}°C</div>
		<div class="small"><b>Max:</b> {{ Math.round(showWeather.max_temp) }}°C</div>
		<div class="small"><b>Min:</b> {{ Math.round(showWeather.min_temp) }}°C</div>
	
	</div>
</div>